<div
  class="bg-[url('/assets/invite.png')] h-full bg-cover flex flex-col place-items-start"
>
  <div class="ml-[30%]">
    @if(eveniment){
    <div class="flex flex-col text-2xl text-white mt-32">
      <span>{{ eveniment.date | dateCountdownPipe }}</span>
      <div class="text-6xl">{{ eveniment.name | uppercase }}</div>
    </div>
    }
    <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="text-3xl">
      <span class="text-lg text-white">INVITE A FRIEND OR A FAMILY MEMBER</span>
      <div class="flex flex-row gap-2 bg-green-600 p-4">
        <div>
          <input type="text" class="p-2" formControlName="name" />
          @if(f['name'].errors && f['name'].touched){
          <div class="alert alert-danger">Name is required.</div>
          }
        </div>

        <div class="">
          <input type="email" class="p-2" formControlName="email" />
          @if(f['email'].errors && f['email'].touched){
          <div class="alert alert-danger">Email is required.</div>
          }
        </div>

        <button
          type="submit"
          class="btn bg-[#FAC900] rounded-full p-2 px-4 cursor-pointer hover:bg-[#fac800b4] border-white border"
          [disabled]="!inviteForm.valid"
        >
          +
        </button>
      </div>
    </form>
    <div class="flex mt-4">
      @for(user of invitedUsers; track user.id){
      <app-card [user]="user"> </app-card>
      }
    </div>
  </div>
</div>
