@if(eventDetails){
<div
  class="flex flex-col h-full bg-green-400 text-black text-3xl p-8 items-center gap-4"
>
  <span class="text-4xl font-bold my-4">- You are invited to -</span>
  <h1 class="my-2">Name: {{ eventDetails.name }}</h1>
  <h1 class="my-1">Date: {{ eventDetails.date | date : "dd MMM yyyy" }}</h1>
  @if(inviteDetails){
  <h1>Status: {{ inviteDetails.status | convertStatus }}</h1>
  }
  <div class="flex gap-x-20 my-4 items-center">
    <div class="relative">
      <button
        class="bg-green-600 rounded-full font-bold py-3 px-6 hover:bg-green-700 transition duration-300 absolute -ml-16"
        (click)="handleInitationStatus(2)"
      >
        <fa-icon [icon]="acceptIcon"></fa-icon>
      </button>
      <span class="text-xl bg-white border-1 py-3 px-6 font-bold"
        >I will be there</span
      >
    </div>
    <div class="relative">
      <button
        class="bg-red-600 font-bold py-3 px-6 rounded-full hover:bg-red-700 transition duration-300 absolute -ml-16"
        (click)="handleInitationStatus(1)"
      >
        <fa-icon [icon]="rejectIcon"></fa-icon>
      </button>
      <span class="text-xl bg-white border-1 py-3 px-6 font-bold"
        >Decline</span
      >
    </div>
  </div>
</div>

} @else{
<span class="text-3xl">Select an Event</span>
}
