@if(user!=null){
<div class="flex place-items-start bg-white p-4 relative">
  <div
    class="rounded-full p-1 py-4 bg-yellow-500 border-2 border-white text-2xl absolute -left-12"
  >
    {{ user.firstName | getSubstring : 1 | uppercase }}.
    {{ user.lastName | getSubstring : 1 | uppercase }}.
  </div>
  @switch(user.status){
   @case (0) {
    <fa-icon
    [icon]="faCircleQuestion"
    class="text-gray-500 p-4 text-xl absolute -left-4 -bottom-4"
  ></fa-icon>
   }
   @case (1) {
    <fa-icon
    [icon]="faCircleXmark"
    class="text-red-500 p-4 text-xl absolute -left-4 -bottom-4"
  ></fa-icon>
   }
   @case (2) {
    <fa-icon
    [icon]="faCircleCheck"
    class="text-green-500 p-4 text-xl absolute -left-4 -bottom-4"
  ></fa-icon>
   }

  }


  <div class="flex flex-col ml-4">
    <span class="text-2xl">{{ user.firstName }}</span>
    <span>State: {{ user.status | convertStatus }}</span>
  </div>
</div>
}
